.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.bash_sessions
.config
.mysql_history
.ssh
.viminfo
Applications
Desktop
Documents
Downloads
Library
Movies
Music
OneDrive - APD
Pictures
Projects
Public
